/* Responsive css */
/***************** Tab Section *****************/
@media only screen and (max-width: 992px) {
  /* header section */
  .container {
    padding: 0 50px;
  }
  /* navigation bar */
  nav {
    flex-direction: column;
    text-align: center;
  }
  nav ul {
    justify-content: center;
    margin-top: 20px;
  }

  /* banner content */
  .banner h1 {
    font-size: 2.5rem;
    line-height: 3rem;
  }
  .banner-content {
    width: 50%;
  }
  .banner-img {
    width: 45%;
  }

  /* brand Section */
  .brand-section {
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 50px 20px;
  }

  /* feature section */
  .featured-section {
    padding-top: 50px;
  }
  .feature {
    flex-direction: column;
    justify-content: center;
    gap: 50px;
  }
  .feature-img {
    width: 100%;
  }
  .feature-content {
    width: 100%;
    text-align: center;
  }
  .f-btn {
    display: flex;
    justify-content: center;
  }
}

/***************** Mobile Section *****************/
@media only screen and (max-width: 768px) {
  /* header section */
  .container {
    padding: 0 10px;
  }
  /* navigation bar */
  nav ul {
    flex-direction: column;
    gap: 10px;
  }

  /* banner */
  .banner {
    flex-direction: column;
    text-align: center;
    gap: 30px;
  }
  /* banner-content */
  .banner-content {
    width: 100%;
    order: 2;
  }
  .banner-content > div {
    display: flex;
    justify-content: center;
  }
  /* banner img */
  .banner-img {
    width: 100%;
    order: 1;
  }
  .banner-img img {
    width: 80%;
  }

  /* brand Section */

  /* Popular Section */
  .cards {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* ***************** smart phone ***************** */
@media only screen and (max-width: 600px) {
  /* brand section */
  .brand {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .brand-section img {
    width: 100%;
  }

  /* popular section */
  .cards {
    grid-template-columns: repeat(1, 1fr);
  }
  .card img {
    width: 100%;
  }
  .popular-section {
    padding: 0 30px;
  }

  /* featuer section */
  .feature-img {
    order: 2;
  }
  .feature-content {
    order: 1;
  }
}

/********************* footer section *********************/
footer {
  background: #0a0826;
  text-align: center;
  padding: 50px 0;
}
.f-content {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.f-content h3 {
  color: #fff;
  font-size: 1.35rem;
  font-weight: 700;
  line-height: normal;
}
.f-content p {
  color: hsl(225, 12%, 87%);
  font-size: 0.85rem;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 171.429% */
}
.f-content ul {
  display: flex;
  justify-content: center;
  list-style: none;
  gap: 10px;
}
.f-content ul li a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 32px;
  width: 32px;
  font-size: 1rem;
  color: white;
  border: 1px solid hsl(242, 29%, 18%);
  text-decoration: none;
  border-radius: 50%;
  background: hsl(242, 29%, 18%);
}
