/***************** General Style *****************/
* {
  font-family: "Poppins", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  /* font-color */
  --primary-color: #3a3a3a;
  --secondary-color: #e02c6d;
}
.btn-primary {
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  display: inline-flex;
  padding: 10px 24px;
  align-items: flex-start;
  gap: 8px;
  background: #e02c6d;
  border: 1px solid var(--secondary-color);
  transition: 0.3s;
}
.btn-primary:hover {
  border: 1px solid var(--secondary-color);
  color: var(--secondary-color);
  background: white;
}
.container {
  max-width: 1150px;
  margin: auto;
}
/***************** Header Section *****************/
header {
  padding: 50px 0;
}
/* navigation */
nav {
  display: flex;
  justify-content: space-between;
}
nav ul {
  list-style: none;
  display: flex;
  gap: 40px;
}
nav a {
  text-decoration: none;
  color: var(--primary-color);
}
nav > a {
  font-weight: 700;
  font-size: 1.4rem;
}
nav ul li a {
  font-weight: 600;
  font-size: 1rem;
  transition: 0.2s;
}
nav ul li:hover a {
  color: var(--secondary-color);
}

/* banner section */
.banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 0;
}
/* banner content */
.banner-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 50%;
}
.banner h1 {
  color: #3a3a3a;
  font-size: 3.2rem;
  font-style: normal;
  font-weight: 700;
  line-height: 4rem;
}
.banner p {
  color: #3a3a3a;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.banner-content a {
  max-width: 220px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  border-radius: 30px;
}
/* banner img */
.banner-img {
  width: 42%;
}
.banner-img img {
  width: 100%;
  border: 4px solid #f7f0ff;
  border-radius: 50%;
  padding: 15px;
}
